<nav class="pagination" role="pagination">
  {{#if prev}}
    <a class="newer-posts" href="{{page_url prev}}">< Página anterior</a>
  {{/if}}
  {{!-- <span class="page-number">Page {{page}} of {{pages}}</span> --}}
  {{#if next}}
    <a class="older-posts" href="{{page_url next}}">Próxima Página ></a>
  {{/if}}
</nav>
