/*
 *--------------------------------------------------------------------
 * Base Elements.
 *--------------------------------------------------------------------
 */

*
  box-sizing: border-box

// ------------------------------------
// Body.
// ------------------------------------

body
  font-family: $font-text
  color: $color-grey-darkest
  font-size: $font-size-small
  line-height: $line-height-small
  @media all and (min-width: $small-screen)
    font-size: $font-size-medium
    line-height: $line-height-medium
  @media all and (min-width: $medium-screen)
    font-size: $font-size-big
    line-height: $line-height-big
  @media all and (min-width: $big-screen)
    font-size: $font-size-bigger
    line-height: $line-height-bigger

// ------------------------------------
// Headers.
// ------------------------------------

%heading
  margin: 1em 0 0.4em
  font-family: $font-heading
  font-weight: 600

h1, h2, h3, h4, h5, h6
  @extend %heading
  line-height: 1em
  span
    font-family: $font-heading

h1
  font-size: $font-size-h1

h2
  font-size: $font-size-h2

h3
  font-size: $font-size-h3

h4
  font-size: $font-size-h4

h5
  font-size: $font-size-h5
  font-family: $font-text

h6
  font-size: $font-size-h6
  font-family: $font-text

// ------------------------------------
// Anchors.
// ------------------------------------

a
  text-decoration: none
  color: $color-grey-darkest
  &:hover,
  &:focus
    color: $color-red

  h1 &, h2 &, h3 &, h4 &, h5 &, h6 &
    color: inherit

// ------------------------------------
// Text.
// ------------------------------------

p
  margin-bottom: 1.5em
  font-weight: 300
  @extend %hyphenated-paragraphs

::selection
  color: white
  background-color: rgba($color-red, 0.7)
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)

// ------------------------------------
// Lists.
// ------------------------------------

ul, ol
  padding-left: 1.3em

// ------------------------------------
// Blockquotes.
// ------------------------------------

blockquote
  padding-left: 1em
  border-left: 5px solid #A02627
  font-style: italic

  cite
    @extend %transition-navigation
    display: block
    font-size: 0.8em
    opacity: 0.7
    &:before
      content: "—"
      margin-right: 0.5em
    a
      @extend %transition-navigation
      color: inherit
  &:hover cite
    opacity: 1

  &.pull-right,
  &.pull-left
    font-weight: 600
    padding: 1em
    margin-top: 0.5em
    max-width: 35%
    border: 1px dashed #CCC
    border-width: 2px 0
    text-align: center
    p
      margin-bottom: 0.5em
    cite
      font-weight: 500
    +breakpoint("tiny-width-max")
      &
        max-width: none

// ------------------------------------
// Blocks.
// ------------------------------------

hr
  height: 1px
  margin: 3em 0 4em
  border: none
  background-color: $color-grey-lightest

.pull-left
  float: left

.pull-right
  float: right

// Home specific layout.
.home-template
  #main
    padding-left: 0
    padding-right: 0
    #masonry-container
      margin: 0 auto
      max-width: 100%
