/*
 *------------------------------------------------------------------------------
 * Footer
 *------------------------------------------------------------------------------
 */

#site-footer
  display: block
  color: $color-grey
  font-family: $font-sans

  &.parallaxed
    background: none

#site-footer,
.footer-parallax
  +background-cover($cover-dark-reversed)
  background-color: $color-grey-darkest

.footer-parallax
  position: fixed
  bottom: 0
  right: 0
  width: 100%

#site-footer-content
  position: relative
  padding: 2rem
  font-size: 0.8em

  a
    color: $color-grey-light
    &:hover
      color: $color-grey-lighter

  .poweredby
    float: right

+breakpoint("tiniest-width")
  #site-footer-content
    .inner
      section
        display: block
        float: none
        text-align: center