/*
 *------------------------------------------------------------------------------
 * Footer
 *------------------------------------------------------------------------------
 */

#site-footer
  +display-box
  +box-align(center)
  color: $color-grey

  &.parallaxed
    background: none

#site-footer,
.footer-parallax
  background: $color-grey-darkest url('../images/cover-footer.png') center center no-repeat
  background-size: cover

.footer-parallax
  position: fixed
  bottom: 0
  right: 0
  width: 100%

#site-footer-content
  position: relative
  margin: 5rem 20% 7rem

