/*
 *------------------------------------------------------------------------------
 * Header
 *------------------------------------------------------------------------------
 */

#site-head
  h1, h2
    display: none


#blog-logo
  img
    max-height: none

#site-head.post-header
  h1
    display: block
    font-family: 'Lato', sans-serif
    font-weight: 300
    font-size: 64px

  .post-meta
    color: white

  #site-head-content
    position: static

  .back-to-home
    position: absolute
    left: 1em
    bottom: 1em
    color: white
    text-decoration: none
    font-family: 'Lato', sans-serif
    opacity: 0.5
    transition: ease 0.3s
    &:hover
      opacity: 1
