/*
 *------------------------------------------------------------------------------
 * Header
 *------------------------------------------------------------------------------
 */

#site-head
  +display-box
  +box-align(center)
  +box-pack(center)
  +background-cover($cover-header-home)
  position: fixed
  top: 0
  right: 0
  width: 100%
  height: 180px
  text-align: center
  font-family: $font-heading
  color: white

  +breakpoint("min-responsive-height")
    height: 40%

  h1, .site-head-subinfo
    margin-top: 0
    margin-bottom: 0
    font-weight: 300

  .site-head-subinfo
    position: absolute
    left: 0
    display: block
    width: 100%

  .blog-description
    margin-top: 1em
    opacity: 0.9

#site-head-content
  @extend %spaced-content
  position: relative
