/*
 *------------------------------------------------------------------------------
 * Layout
 *------------------------------------------------------------------------------
 */

#main
  @extend %spaced-content
  padding-top: 3rem
  padding-bottom: 8rem

// Post listing pages.
.home-template, .archive-template, .tag-template
  #main
    background-color: $color-background
    background-image: url('/assets/images/background-pattern.png')
    background-repeat: repeat
