/*
 *--------------------------------------------------------------------
 * Navigation
 *--------------------------------------------------------------------
 */


#main-nav
  margin: 0
  padding: 0
  list-style: none
  +breakpoint("small-width-max")
    text-align: center
  li
    display: inline-block
    a
      @extend %transition-navigation
      display: block
      padding: 2em 0.8em 1.5em
      margin: 0.5em 0
      font-weight: 300
      color: inherit
      &:hover
        color: $color-red
      &.active
        font-weight: 600
      +breakpoint("small-width-max")
        padding-top: 0
  .subscribe
    @extend %rss-icon
