/*
 *--------------------------------------------------------------------
 * Posts.
 *--------------------------------------------------------------------
 */

$non-textblock-elements-width: 768px

// Post listing pages.
.home-template, .archive-template, .tag-template
  .post
    > .inner
      @extend %border-light
      background-color: white

.post-tags
  @extend %tags-icon

.post
  color: #666

  > .inner
    border: none
  a
    color: $color-long-text-link
    font-weight: 400
    position: relative
    &:hover,
    &:focus
      color: $color-long-text-link-hover

.post-meta-area
  z-index: 10 !important
  width: 100% !important
  padding: 1em 0 1em
  margin-top: -38px
  text-align: right
  font-family: $font-heading
  font-size: 0.8em
  +breakpoint("tiniest-width-max")
    padding-left: 10px
    padding-right: 10px

  a
    color: #222
    &:hover
      color: #A02627
  .share
    @extend %share-block

  .meta
    float: left
    > span
      margin-right: 1em

    .post-title,
    .post-author
      display: none

    .post-title
      padding-right: 1em
      vertical-align: top
      font-weight: 300

  &.sticked
    padding: 0.4em 0 0.4em
    margin-top: 0
    text-align: left
    left: 0
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
    background-color: white
    background-image: image-url("header-background.png")
    background-size: cover
    color: #666
    .share
      float: right
    .inner
      margin: 0 1.5em

    .meta
      width: 90%

      .post-title
        display: inline-block

      .post-tags
        display: none

    a
      color: inherit
      &:hover, &:focus
        color: $color-red
        opacity: 0.9

    +breakpoint("tiny-width-max")
      .meta .post-title
        display: none

// Expand item to the post margins.
%expanded
  margin-left: 0
  margin-right: 0

#post-head .inner
  max-width: $non-textblock-elements-width
  margin-right: auto
  margin-left: auto

header.article-head
  max-width: $non-textblock-elements-width
  margin-right: auto
  margin-left: auto

.post-content
  @extend %border-light
  padding: 2em 0
  font-weight: 300
  color: #333

  > p:first-child
    font-size: 1.2em
    margin-top: 0
    max-width: $non-textblock-elements-width

  > *
    max-width: 32em
    position: relative
    margin-left: auto
    margin-right: auto
    &:first-child
      margin-top: 1rem
    +breakpoint("tiniest-width")
      margin-left: 1rem
      margin-right: 1rem
  > p.has-image, p.has-code, p.has-linked-image, iframe
    @extend %expanded
    text-align: center
    max-width: $non-textblock-elements-width
    margin-left: auto
    margin-right: auto

  p.has-span
    position: relative
    margin-top: 0
    margin-bottom: 0
    +breakpoint("small-width")
      display: none

  span.note-right
    background-color: white
    z-index: 5
    position: absolute
    top: 0
    left: 100%
    font-size: $font-size-smaller
    margin-left: 10px
    padding-left: 10px
    border-left: 2px solid $color-red
    width: 190px
    br
      display: none

  pre.line-numbers
    margin: 0 auto
    max-width: $non-textblock-elements-width

  p.has-code
    overflow: auto

  h1, h2, h3, h4, h5, h6
    max-width: $non-textblock-elements-width

  .post-full
    h1, h2, h3, h4, h5
      color: #333

    h1, h2, h3
      border-bottom: 0.1em dashed #EEE
      padding-bottom: 0.4em
      margin-bottom: 0.5em
      text-align: center
      display: inline-block

    p
      color: black
      letter-spacing: 0.03em

  .pull-left
    float: left

  .pull-right
    float: right

  .pull-left, .pull-right
    margin-left: 2rem
    margin-right: 2rem
    position: relative
    z-index: 1
    margin-bottom: 1rem
    &.streched
      margin-bottom: 0
      margin-left: 0
      margin-right: 0

    +breakpoint("tiny-width-max")
      &
        float: none

  > iframe
    @extend %expanded
    width: 100%

  img
    max-width: 100%

  hr
    @extend %expanded
    margin: 3em 0 2em

span.button-wrapper
  @extend %button-wrapper

.post-footer
  padding: 10px 0 0
  width: 100%
  max-width: $non-textblock-elements-width
  margin: 0 auto

  #author
    margin-top: -1px // Fix fot hash pointing.
    padding-top: 1px

  h4
    text-align: center
    span
      text-align: center

  .author
    @extend %border-light
    padding: 15px 5px
    margin: 35px 0
    border-radius: 4px
    +breakpoint("tiniest-width-max")
      margin-left: 10px
      margin-right: 10px

    .author-main-info
      padding: 0.5em

      h3, p
        margin: 0.3rem 0 0 1.5rem
        line-height: 1em
        font-weight: 300
      h3
        font-family: $font-heading
        margin-top: 0.8em
        font-size: 1.6em
        font-weight: normal
        +breakpoint("tiniest-width-max")
          margin-left: 0
      p
        margin-bottom: 0
        margin-left: 180px
        +breakpoint("tiniest-width-max")
          margin-left: 0

    .author-picture,
    .author-picture + div
      display: inline-block
      vertical-align: middle

    .author-picture
      float: left
      max-width: 150px
      margin: 0.5em 1.5em -1.5em 1.5em
      border: 10px solid $color-grey-lightest
      border-radius: 90px
      background-color: #FFF
      + div
        display: block
      +breakpoint("tiniest-width-max")
        display: block
        float: none
        margin: 0 auto

    .author-secondary-info
      text-align: right
      padding: 0.5em
      font-family: $font-sans
      font-size: 0.9em
      clear: both

      span
        margin-left: 1em

  .post-meta-area
    margin-top: 27px
    margin-bottom: 68px
    +breakpoint("tiniest-width-max")
      padding-left: 10px
      padding-right: 10px

  .related-posts
    margin: 35px 0 95px 0

// Bottom share block.
.footer-share
  @extend %share-block
  @extend %border-light
  width: 170px
  display: block
  padding: 9px 0 5px 0
  text-align: center
  margin: 0 auto
  position: relative
  top: 22px
  background: #fff

  a
    color: #541818

    &:hover
      color: #A02627

  .fa
    padding: 0.9em 1em
    line-height: 0

// Homepage posts.
.articles
  @extend %clearfix
  overflow: visible
  margin: 0 auto
  +breakpoint("default-width-min")
    &
      width: 1200px

.post.preview
  width: 28em
  position: relative
  padding-bottom: 40px
  float: left
  margin: 0 20px
  +breakpoint("smaller-type-width")
    &
      width: 20em

  +breakpoint("smaller-type-width")
    &
      float: none
      margin: 0

  a:after
    border: none

  .inner
    display: block
    .post-content
      border: 0
      padding: 0

    &:hover, &:focus
      box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.15)
      opacity: 1
      h2
        color: $color-link-hover
      .post-excerpt
        opacity: 1
      .featured-image
        -webkit-filter: sepia(0.2) saturate(1.2) contrast(1.5)
        filter: sepia(0.2) saturate(1.2) contrast(1.5)

    &, h2, .post-excerpt, .featured-media
      @extend %transition-navigation

  .post-header
    margin: 2rem 1rem
    padding-bottom: 0.4rem
    border-bottom: 1px solid $color-grey-lighter
    text-align: center

  h2
    margin: 0
    font-weight: 300

  .site-head-subinfo
    @extend %clock-icon
    position: relative
    bottom: -1.1rem
    display: inline-block
    padding: 0 1em
    font-size: 0.8rem
    background-color: white
    time
      margin-left: 0.5em

  .featured-media
    display: block
    width: 100%
    margin: 0
    background-size: cover
    background-position: center center

    &.featured-img
      border: 1px solid #CCC
      border-width: 1px 0
      filter: sepia(0.6)
      -webkit-filter: sepia(0.6)

    &.featured-iframe
      max-height: 224px

    &:not(.featured-cover)
      margin-bottom: -0.8rem
    &.featured-cover
      position: absolute
      z-index: 1
      top: 1px
      right: 1px
      left: 1px
      bottom: 1px
      height: auto
      border-width: 0

  &.has-featured-cover

    header
      border: none

    .site-head-subinfo
      background: none

    &.has-featured-dark
      color: white
      .post-header, .post-excerpt, .post-footer
        position: relative
        z-index: 5
      .inner
        &:hover, &:focus
          h2
            color: inherit

    .post-content > *
      z-index: 2

  .post-excerpt
    margin: 1rem
    opacity: 0.8
    word-wrap: break-word

  .post-footer
    font-size: 0.8rem
    margin: -1rem 1rem 1rem 1rem

    > span
      margin-right: 1em

    .post-author
      @extend %user-icon

.pagination-container
  position: relative
  margin-top: 2rem
  border-top: 1px solid $color-grey-lighter
  box-shadow: inset 0 1px 1px 0 white
  text-align: center
  opacity: 0.5
  font-size: 0.9rem

  i
    position: relative
    top: -0.8em
    display: inline-block
    width: 3em
    margin-top: -2em
    border: 1px solid #bbb
    border-radius: 3em
    line-height: 3em
    font-family: $font-lato
    box-shadow: 0 1px 1px 1px white
    background-color: $color-grey-lightest

  .pagination > *
    float: right
    margin-left: 1.2em

.disqus-container
  padding-top: 60px
  border-top: 1px solid $color-grey-lighter
  background: $color-grey-lightest

.disqus-container--inner
  @extend %spaced-content
  padding-top: 0
  padding-bottom: 0.4em
  +breakpoint("tiniest-width")
    padding-left: 10px
    padding-right: 10px

  h4
    padding: 1em 0 3em
    margin: 0
    text-align: center
