/*
 *------------------------------------------------------------------------------
 * Posts
 *------------------------------------------------------------------------------
 */

.post
  color: #666
  > .inner
    @extend %border-light
    background-color: white
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1)
  a
    color: $color-long-text-link
    &:hover,
    &:focus
      color: $color-long-text-link-hover

#post-meta
  +transition(ease 350ms)
  width: 100% !important
  padding: 1em 0 1em
  font-family: $font-heading
  font-size: 0.8em

  .share
    float: right
    .fa
      padding: 1em
      margin: -1em 0 -1em -1em
      line-height: 1em
      font-size: 1.3em
      &:last-child
        margin-right: -1em
    .hidden
      display: none

  .meta
    > span
      margin-right: 1em

    .post-title
      display: none
      border-right: 1px dotted rgba(255, 255, 255, 0.5)
      padding-right: 1em
      vertical-align: top
      font-weight: 300
      font-size: 1.6em

  &.sticked
    +transition(none)
    +background-cover($cover-header-home)
    left: 0
    border-bottom: 0.3em solid rgba(0, 0, 0, 0.3)
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
    color: white
    .inner
      margin: 0 1.5em 0 5.5rem
      $margin-left-current: 6.5rem
      @each $breakpoint in get-breakpoint-group("width" "screen")
        +breakpoint(nth($breakpoint, 1))
          margin-left: $margin-left-current
          $margin-left-current: $margin-left-current - 0.3rem

    .meta .post-title
      display: inline-block
    a
      color: white
      &:hover, &:focus
        opacity: 0.9

// Expand item to the post margins.
%expanded
  margin-left: 0
  margin-right: 0

.post-content
  @extend %border-light
  padding: 2em 0
  line-height: 1.5em

  > p:first-child
    font-size: 1.4em

  > *
    position: relative
    margin-left: 2rem
    margin-right: 2rem
    &:first-child
      margin-top: 1rem

  > p.has-image
    @extend %expanded
    text-align: center

  .align-left
    margin-right: 2rem

  .align-right
    margin-left: 2rem

  .align-left, .align-right
    margin-bottom: 1rem
    &.streched
      margin-bottom: 0
      margin-left: 0
      margin-right: 0

  > iframe
    @extend %expanded
    width: 100%

  img
    max-width: 100%

  blockquote
    margin-left: 4em
    border: 1px solid rgba(0, 0, 0, 0.1)
    border-radius: 0.4em
    box-shadow: inset 0 0 50px -22px rgba(0, 0, 0, 0.2)
    cite a
      color: inherit
      &:hover
        color: $color-link

    &:before
      position: absolute
      display: block
      height: 0
      width: 50px
      font-size: 6em
      font-family: $font-lato
      color: #EEE
    &:before
      content: "“"
      left: -0.7em
      top: 0.5em
    // &:after
    //   content: "„"
    //   right: -0.48em
    //   bottom: 0.6em

  hr
    @extend %expanded
    margin: 3em 0 2em

.post-footer

  #author
    margin-top: -1px // Fix fot hash pointing.
    padding-top: 1px

  h4
    margin: 3em 0 0.2em
    border-top: 1px dashed $color-grey-lighter
    font-family: $font-lato
    font-size: 1.8rem
    text-transform: uppercase
    text-shadow: 1px 1px 1px #FFF
    color: $color-grey-light
    span
      position: relative
      top: -0.55em
      padding-right: 0.8em
      background-color: $color-grey-lightest

  .author
    @extend %border-light
    padding: 2px
    background-color: white

    .author-main-info
      +background-cover($cover-header-home)
      padding: 0.5em
      color: white

      h3, p
        margin: 0.3em 0 0 0
        line-height: 1em
        font-family: $font-heading
        font-weight: 300
      h3
        margin-top: 0.8em
        font-size: 1.6em
        font-weight: normal

    .author-picture,
    .author-picture + div
      display: inline-block
      vertical-align: top

    .author-picture
      max-width: 90px
      margin: 0.5em 1.5em -1.5em 1.5em
      border: 3px solid #FFF
      border-radius: 90px
      background-color: #FFF

    .author-secondary-info
      text-align: right
      padding: 0.5em
      font-family: $font-sans
      font-size: 0.9em
      
      span
        margin-left: 1em

#main
  padding-top: 2rem-28px


// MAIN PAGE POSTS
.articles
  @extend %clearfix
  overflow: visible

.post.preview
  position: relative
  margin-bottom: 2rem

  +breakpoint("small-width-min")
    &
      width: 48%
    &:first-child
      width: 100%
      float: none

    &:nth-child(odd)
      float: right
      clear: right
    &:nth-child(even)
      float: left
      clear: left

  .inner
    position: relative
    display: block
    color: inherit
    opacity: 0.9
    .post-content
      border: 0
      padding: 0

    &:hover, &:focus
      box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.15)
      opacity: 1
      h2
        color: $color-link-hover
      .post-excerpt
        opacity: 1

    &, h2, .post-excerpt
      @extend %transition-navigation

  .post-header
    margin: 2rem
    padding-bottom: 0.4rem
    border-bottom: 1px solid $color-grey-lighter
    text-align: center

  h2
    margin: 0
    font-weight: 300

  .site-head-subinfo
    position: relative
    bottom: -1.1rem
    display: inline-block
    padding: 0 1em
    font-size: 0.8rem
    background-color: white
    time
      margin-left: 0.5em
  
  .featured-media
    width: 100%
    margin: 0
    background-size: cover
    background-position: center center
    
    &.featured-img
      border: 1px solid #CCC
      border-width: 1px 0

    &.featured-iframe
      max-height: 224px
    
    &:not(.featured-cover)
      margin-bottom: -0.8rem
    &.featured-cover
      position: absolute
      z-index: 1
      top: 1px
      right: 1px
      left: 1px
      bottom: 1px
      height: auto
      border-width: 0

  &.has-featured-cover

    header
      border: none

    .site-head-subinfo
      background: none

    &.has-featured-dark
      color: white
      .post-header, .post-excerpt, .post-footer
        position: relative
        z-index: 5
      .inner
        &:hover, &:focus
          h2
            color: inherit

    .post-content > *
      z-index: 2

  .post-excerpt
    margin: 2rem
    opacity: 0.8
    word-wrap: break-word

  .post-footer
    margin-top: -0.5rem
    margin-bottom: 1.5rem
    font-size: 0.8rem
    
    > span
      margin-right: 1em

.pagination-container
  position: relative
  margin-top: 2rem
  border-top: 1px solid $color-grey-lighter
  box-shadow: inset 0 1px 1px 0 white
  text-align: center
  opacity: 0.5
  font-size: 0.9rem
  
  i
    position: relative
    top: -0.8em
    display: inline-block
    width: 3em
    margin-top: -2em
    border: 1px solid #bbb
    border-radius: 3em
    line-height: 3em
    font-family: $font-lato
    box-shadow: 0 1px 1px 1px white
    background-color: $color-grey-lightest

  .pagination > *
    float: right
    margin-left: 1.2em